body {
    background-color: rgb(88, 86, 86);
}

.title {
    font-family: Arial;
    color: white;  
}

.subtitle {
    color: coral;
    font-size: 1.5em;
}

.bloc {
    background-color: rgb(54, 54, 54);
    border-radius: 3px;
}
